
  <div class="col-3 center boxstyle another">
    <form class="negative">
      <h3>Login</h3>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg control-label" name="un" placeholder="User name" [(ngModel)]="un">
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-lg"  name="pass" placeholder="Password" [(ngModel)]="pass">
      </div>
      <div  class="form-group">
        <span style="color: red"> *Please check your credentials</span>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success width-100" (click)="ln()">Login</button>
      </div>
    </form>
  </div>

